/* ----- main-styles----*/

h1, h2, h3, h4, h5, h6, p {
margin-top: 0;
margin-bottom: 0;
}

ul, 
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body { 
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

img {
    display: block;
}


/* ======header-style=======*/

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;    
}

.general-padd {
    padding-top: 120px;
    padding-bottom: 120px;
}

.header-block {
    display: flex;
    justify-content: space-between;
}

.top-header {
    border-bottom: 1px solid #e7e9fc
}

 .menu {
    display: flex;
    align-items: center;
 }

 .menu-list {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
 }

 .contacts-list {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
 }


.pagelogo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-2part {
    color: #2e2f42;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.text-underline:active { 
    text-decoration: underline;
}

.contacts-block {
    font-style: normal
}

.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}


/* ======hero-styles======*/

.hero-box {
    background: #2e2f42;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 188px 0;
}

.hero-conteiner {
    display: flex;
    display: block;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px; 
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}

.order-service-btn {
    font-family: "Roboto", sans-serif;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.order-service-btn:hover,
.order-service-btn:focus {
    background: #404bbf;
}



/* =====Benefits=====*/


.benefits-container {
display: flex;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-item {
    width: calc((100% - 72px) / 4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    min-width: 264px;
}

/*=======our-Team=====8*/

.team-container {
display: block;
}

.team-list {
    display: flex;
    gap: 24px;
}

.our-team-box {
    background: #f4f4fd; 
}

.team-list-item {
    background: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}


.team-box-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    width: 164px;
    height: 40px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;

}

.team-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
}

.team-info {
    display: block;
    text-align: center;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    padding-top: 32px;
}

/*======portfolio=====*/

.port-container {
    display: block;
 }

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
 
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize; 
    margin-bottom: 72px;
}

.ptf-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}

.ptf-item-text {
    font-size: 16px;
    line-height: 1.5;
}

.port-text-box {
    padding: 32px 16px;
    letter-spacing: 0.02em;
    border: 1px solid #e7e9fc;
    border-top: none;

}


/*======footer======*/

.footer-block {
    background: #2e2f42;
    max-width: 1440px
    display: block;
    padding: 100px 0;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}
